.task-form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .task-input {
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    flex-grow: 1; 
    font-size: 16px;
  }
  
  .add-task-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .add-task-button:hover {
    background-color: #45A049;
  }
  